<div class="bs_calendar">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Aitabar</th>
        <th>Sombar</th>
        <th>Mangalbar</th>
        <th>Budhbar</th>
        <th>Bihibar</th>
        <th>Sukrabar</th>
        <th>Sanibar</th>
      </tr>
    </thead>

    <tbody>
      <%= date_range %>
      <%
        a = Array.new(35) { 1 }
        a.each_slice(7) do |week|
      %><tr><%
        week.each do |day|
      %>
          <td>
            <%= day %>
          </td>
      <%
          end
        end
      %>
    </tbody>
  </table>
</div>
