<div class="bs_calendar">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Aitabar</th>
        <th>Sombar</th>
        <th>Mangalbar</th>
        <th>Budhbar</th>
        <th>Bihibar</th>
        <th>Sukrabar</th>
        <th>Sanibar</th>
      </tr>
    </thead>

    <tbody>
      <%
        if date_range.is_a?(Array)
          date = date_range[0]
          date_object = [ date ]

          while(date.to_s != date_range[1].to_s)
            option = {year: date.year, month: date.month, day: date.day, wday: date.wday}
            date = NepaliCalendar::BsCalendar.travel 1, option
            date_object << date
          end
        end
      %>
      <%
        date_object.each_slice(7) do |week|
      %><tr><%
        week.each do |day|
      %>
          <td>
            <%= day.day %>
          </td>
      <%
          end
        end
      %>
    </tbody>
  </table>
</div>
