<div class="bs_calendar">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Aitabar</th>
        <th>Sombar</th>
        <th>Mangalbar</th>
        <th>Budhbar</th>
        <th>Bihibar</th>
        <th>Sukrabar</th>
        <th>Sanibar</th>
      </tr>
    </thead>

    <tbody>
      
    </tbody>
  </table>
</div>
